BODY {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 12px; PADDING-BOTTOM: 0px; MARGIN: 0px; LINE-HEIGHT: 22px; PADDING-TOP: 0px
}
DIV {
	OVERFLOW: hidden; WORD-WRAP: break-word
}
UL {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
LI {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
IMG {
	BORDER-TOP-WIDTH: 0px; BORDER-LEFT-WIDTH: 0px; BORDER-BOTTOM-WIDTH: 0px; BORDER-RIGHT-WIDTH: 0px
}
.clr {
	CLEAR: both; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 0px; PADDING-BOTTOM: 0px; MARGIN: 0px; OVERFLOW: hidden; PADDING-TOP: 0px; HEIGHT: 0px
}
.red {
	FONT-WEIGHT: normal; COLOR: #ff0000
}
.redbold {
	FONT-WEIGHT: bold; COLOR: #ff0000
}
.green {
	FONT-WEIGHT: normal; COLOR: #04513c
}
.greenbold {
	FONT-WEIGHT: bold; COLOR: #04513c
}
.greenH {
	FONT-WEIGHT: normal; COLOR: #339711
}
.greenHbold {
	FONT-WEIGHT: bold; COLOR: #339711
}
.greenD {
	FONT-WEIGHT: normal; COLOR: #326228
}
.greenDbold {
	FONT-WEIGHT: bold; COLOR: #326228
}
.greenF {
	FONT-WEIGHT: normal; COLOR: #0eb42c
}
.greenFbold {
	FONT-WEIGHT: bold; COLOR: #0eb42c
}
.cyan {
	FONT-WEIGHT: normal; COLOR: #00bfe8
}
.cyanbold {
	FONT-WEIGHT: bold; COLOR: #00bfe8
}
.blackbold {
	FONT-WEIGHT: bold; COLOR: #000
}
.white {
	FONT-WEIGHT: normal; COLOR: #fff
}
.whitebold {
	FONT-WEIGHT: bold; COLOR: #fff
}
.orange {
	FONT-WEIGHT: normal; COLOR: #ff6600
}
.orangebold {
	FONT-WEIGHT: bold; COLOR: #ff6600
}
.grayBlue {
	FONT-WEIGHT: normal; COLOR: #70747d
}
.grayBluebold {
	FONT-WEIGHT: bold; COLOR: #70747d
}
.bluezz {
	FONT-WEIGHT: normal; COLOR: #282d4a
}
.bluezzbold {
	FONT-WEIGHT: bold; COLOR: #282d4a
}
.blue {
	FONT-WEIGHT: normal; COLOR: #006b9d
}
.bluebold {
	FONT-WEIGHT: bold; COLOR: #006b9d
}
.strong {
	FONT-WEIGHT: bold
}
.strnor {
	FONT-WEIGHT: normal
}
.font14 {
	FONT-SIZE: 14px
}
.movecolumn {
	CURSOR: move
}
.floatleft {
	FLOAT: left
}
.floatright {
	FLOAT: right
}
.zww {
	BACKGROUND: none transparent scroll repeat 0% 0%; WIDTH: 100%; HEIGHT: 2px
}
.wrapo {
	BACKGROUND: #fff; MARGIN: 0px auto; WIDTH: 952px; HEIGHT: auto
}
.box75sub .columnbox .contentbox .txtb .interview .prtab .tab_2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .interview .prtab .tab_2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .interview .prtab .tab_2 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.box75sub .columnbox .contentbox .txtb .cAbout .prtab .tab_2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .cAbout .prtab .tab_2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .cAbout .prtab .tab_2 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.box75sub .columnbox .contentbox .txtb .news_1 .prtab .tab_2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .news_1 .prtab .tab_2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .news_1 .prtab .tab_2 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.box75sub .columnbox .contentbox .txtb .proof .prtab .tab_2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .proof .prtab .tab_2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .proof .prtab .tab_2 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.box75sub .columnbox .contentbox .txtb .circle .prtab .tab_2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .circle .prtab .tab_2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .circle .prtab .tab_2 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.box75sub .columnbox .contentbox .txtb .message .prtab .tab_2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .message .prtab .tab_2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .message .prtab .tab_2 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.box75sub .columnbox .contentbox .txtb .evaluate .prtab A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .evaluate .prtab A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .evaluate .prtab A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
.box75sub .columnbox .contentbox .txtb .mmtzs .prtab .tab_2 A:link {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .mmtzs .prtab .tab_2 A:visited {
	COLOR: #fff; TEXT-DECORATION: none
}
.box75sub .columnbox .contentbox .txtb .mmtzs .prtab .tab_2 A:hover {
	COLOR: #fff; TEXT-DECORATION: underline
}
